.benefits1 {
  background-image: url(../../../img/benefits/benefits1.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 16px;
}
.benefits2 {
  background-image: url(../../../img/benefits/benefits2.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 16px;
}
.benefits3 {
  background-image: url(../../../img/benefits/benefits3.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 16px;
}
