a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1472px;
  margin: 0 auto;
  padding: 3.4vh 1vw;
}
.pageTitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 78px;
  text-align: center;
  color: #ffffff;
}
.hover:hover {
  opacity: 0.8;
}
.gradientBg {
  background: linear-gradient(104.58deg, #056088 10.57%, #09a7ca 96.62%);
}
.button1 {
  background: linear-gradient(104.58deg, #056088 10.57%, #09a7ca 96.62%);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 170%;
  color: #ffffff;
  min-height: 72px;
}
.textItalic {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  color: #ffffff;
}
.text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  padding-bottom: 16px;
}
.subtitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 170%;
  padding-top: 24px;
  color: #ffffff;
}
.subtitleColor {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 170%;
  padding-top: 24px;
  color: #056088;
}
.subtitleBlack {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 170%;
  color: #434343;
}
.textBlack {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  color: #434343;
  padding-bottom: 24px;
}
